<a href="https://colab.research.google.com/github/juanitoeldesastre/PHP/blob/main/GITHUBDIA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
#crear mi dataframe
data={'Producto':['Manzana','Durazno','Tomate','Pera'],
      'Precio':[5.0,18.5,1.3,6.5]
      }

df=pd.DataFrame(data)
print(df)

suma_precio=df['Precio'].sum()
print('La suma de los precios es ',suma_precio)

  Producto  Precio
0  Manzana     5.0
1  Durazno    18.5
2   Tomate     1.3
3     Pera     6.5
La suma de los precios es  31.3

In [28]:
import pandas as pd
#crear mi dataframe
churrumino={'Nombre':['German','Lucas','Kevin','Elias'],
            'Edad':[37,28,20,5],
            'Ciudad':['Trujillo','Puno','Tacna','Moquegua']
}
#dataframe misma cantidad de elementos en sus columnas
df=pd.DataFrame(churrumino)
print(churrumino)
print(df)

{'Nombre': ['German', 'Lucas', 'Kevin', 'Elias'], 'Edad': [37, 28, 20, 5], 'Ciudad': ['Trujillo', 'Puno', 'Tacna', 'Moquegua']}
   Nombre  Edad    Ciudad
0  German    37  Trujillo
1   Lucas    28      Puno
2   Kevin    20     Tacna
3   Elias     5  Moquegua

In [38]:
import pandas as pd

# Crear el DataFrame
data = {'Producto': ['Manzana', 'Durazno', 'Tomate', 'Pera'],
        'Precio': [5.0, 18.5, 1.3, 6.5]}

df = pd.DataFrame(data)
print(df)

# Multiplicar los precios
producto_precio = df['Precio'].prod()
print('El producto de los precios es', producto_precio)

  Producto  Precio
0  Manzana     5.0
1  Durazno    18.5
2   Tomate     1.3
3     Pera     6.5
El producto de los precios es 781.625

In [90]:
import pandas as pd
import numpy as np
#crear datasframe con datos aleatorios
np.random.seed(2) #semilla que guarda los datos de una tabla generada aleatoriamente, como en minecraft
df=pd.DataFrame({
    'Producto':['Pepino','Pipote','Patuta','Patata','Papito'],
    'Precio':np.random.uniform(10,100,size=5),
    'Cantidad':np.random.randint(1,50,size=5)
})
#uniform es decimal y randint es entero
print(df)

  Producto     Precio  Cantidad
0   Pepino  49.239541        35
1   Pipote  12.333361        32
2   Patuta  59.469623        12
3   Patata  49.179015        22
4   Papito  47.833102        48

In [ ]:
import pandas as pd
import numpy as np
#crear datasframe con datos aleatorios
np.random.seed(2) #semilla que guarda los datos de una tabla generada aleatoriamente, como en minecraft
df=pd.DataFrame({
    'Producto':['Pepino','Pipote','Patuta','Patata','Papito'],
    'Precio':np.random.uniform(10,100,size=5),
    'Cantidad':np.random.randint(1,50,size=5)
})
#uniform es decimal y randint es entero
print(df)

In [98]:
#crear una dataframe con nombre, edad, ciudad, que sean solo 5 elementos
#filtrar personas mayores de 30 aÃ±os que viven en moquegua

import pandas as pd
import numpy as np
#crear dataframe
np.random.seed(69)
df=pd.DataFrame({
    'Nombre':['Jose','Ana','German','LLon','Martha'],
    'Edad':np.random.randint(18,50,size=5),
    'Ciudad':['Moquegua','Tacna','Lima','Moquegua','Arequipa']
})
#filtro mayores de 30 ciudad moquegua
filtro=(df['Ciudad']=='Moquegua')&(df['Edad']>30)
resultado=df[filtro]
print("Papu este es:")
print(resultado)

Papu este es:
  Nombre  Edad    Ciudad
0   Jose    40  Moquegua

In [106]:
import pandas as pd
import numpy as np

#crear dataframe aleatoria

np.random.seed(42)
df=pd.DataFrame({
    'Producto':['Mesa','Escoba','Cuchara','Tenedor'],
    'Precio':np.random.uniform(10,100,size=4),
    'Cantidad':np.random.randint(1,30,size=4)

})
#Agregar una nueva columna calculando el ValorTotalPrecio*Cantidad
df['Valor Total']=df['Precio']*df['Cantidad']
print('DataFrame con nueva columna VALOR TOTAL')
print(df)
#Eliminamos Cantidad y columna Precio
df=df.drop(columns=['Cantidad'])
print("Eliminamos columna cantidad")
print(df)
#Modificar la columna Precio
df['Descuento']=df['Precio']*0.52
print("Aqui mostramos el df")
print(df)

DataFrame con nueva columna VALOR TOTAL
  Producto     Precio  Cantidad  Valor Total
0     Mesa  43.708611         7   305.960275
1   Escoba  95.564288        26  2484.671477
2  Cuchara  75.879455        19  1441.709640
3  Tenedor  63.879264        23  1469.223062
Eliminamos columna cantidad
  Producto     Precio  Valor Total
0     Mesa  43.708611   305.960275
1   Escoba  95.564288  2484.671477
2  Cuchara  75.879455  1441.709640
3  Tenedor  63.879264  1469.223062
Aqui mostramos el df
  Producto     Precio  Valor Total  Descuento
0     Mesa  43.708611   305.960275  22.728478
1   Escoba  95.564288  2484.671477  49.693430
2  Cuchara  75.879455  1441.709640  39.457316
3  Tenedor  63.879264  1469.223062  33.217217

Aqui mostramos el df